div {
    text-align: center;
}

br {
   margin-bottom: 20px 
}

a:link {
    color: blue;
    text-decoration: none;
}
  
  /* visited link */
a:visited {
    color: purple;
    text-decoration: none;
}
  
  /* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}
  

a:active {
    color: red;
    text-decoration: none;
}